@page "/integrations"
@attribute [StreamRendering(true)]
@* @rendermode InteractiveServer *@

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using Microsoft.Identity.Web
@inject Microsoft.AspNetCore.Authentication.IAuthenticationService AuthenticationService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IntegrationsApiClient IntegrationsApi

@if (HttpContextAccessor.HttpContext?.User?.Identity?.IsAuthenticated ?? false)
{
    <PageTitle>Integrations</PageTitle>
    @HttpContextAccessor.HttpContext?.User?.GetDisplayName();
    <h1>Integrations</h1>

    <p role="status">AuthLink @authLink</p>

    <a class="btn btn-primary" href="@authLink">Add OneDriveIntegration</a>

}
else
{
    <a asp-controller="Account" asp-action="Login">Anmelden</a>
}


@code {

    private string authLink = "";

    protected override Task OnInitializedAsync()
    {
        authLink = IntegrationsApi.GenerateAuthLink();
        return Task.CompletedTask;
    }
}

